<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
</head>
<body>
<div style="padding:1em;" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">StudentRegisteration App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/eregister/students">Students <span class="sr-only">(current)</span></a>
                </li>
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="#">Features</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="#">Pricing</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" href="#">About</a>-->
                <!--                    </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div style="padding:1em">
        <span style="font-size: 2em; color: #32a5e7;">Registered students</span>
        <span style="float:right;">
                <a class="btn btn-outline-primary btn-sm" href="/eregister/student/new">Add New Student</a>
            </span>
    </div>

    <!--    Table-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Student Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">cgpa</th>
            <th scope="col">Date Registered</th>
            <th scope="col">International</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student,iterStat : ${students}">
            <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
            <th scope="row" th:text="${iterStat.count}"></th>
            <td th:text="${student.studentNumber}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.cgpa}"></td>
            <td th:text="${student.enrollmentDate}"></td>
            <td th:text="${student.isInternational}"></td>


            <td><a class="btn btn-outline-info btn-sm" th:href="@{'/eregister/student/edit/{studentId}'(studentId=${student.studentId})}">Edit</a></td>
            <td>
               <a class="btn btn-outline-danger btn-sm" th:href="@{'/eregister/student/delete/' + ${student.studentId}}">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>