<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
</head>
<body>
<div style="padding:1em;" class="container">
    <div th:replace="fragments/navbar ::topnav">
    </div>

    <div style="padding:1em">
        <span style="font-size: 2em; color: #32a5e7;">Registered students</span>
        <span style="float:right;">
                <a class="btn btn-outline-primary btn-sm" href="/eregister/student/new">Add New Student</a>
            </span>
    </div>

    <!--    Table-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Student Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">cgpa</th>
            <th scope="col">Date Registered</th>
            <th scope="col">International</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student,iterStat : ${students}">
            <th scope="row" th:text="${iterStat.count}"></th>
            <td th:text="${student.studentNumber}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.cgpa}"></td>
            <td th:text="${student.enrollmentDate}"></td>
            <td th:text="${student.isInternational}"></td>


            <td><a class="btn btn-outline-info btn-sm" th:href="@{'/eregister/student/edit/{studentId}'(studentId=${student.studentId})}">Edit</a></td>
            <td>
               <a class="btn btn-outline-danger btn-sm" th:href="@{'/eregister/student/delete/' + ${student.studentId}}">Delete</a>
<!--                /eregister/student/delete/{studentId}-->

            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">Pages: </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, students.totalPages)}"
                th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">
                <a th:href="@{/eregister/students(pageno=${i-1})}"
                   th:text="${i}" class = "page-link"></a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>